CONFIG_ARM=y
CONFIG_ARCH_S5P4418=y
CONFIG_TARGET_NANOPI2_FIRE=y
CONFIG_SPL_MMC_SUPPORT=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_SPL=y
CONFIG_CMD_MMC=y
CONFIG_DM=y
CONFIG_DM_SERIAL=y
CONFIG_S5P4418_SERIAL=y
CONFIG_DM_MMC=y
CONFIG_MMC_SDHCI_S5P4418=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_USB is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_GO is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_NET is not set
